body {
    margin: 0;
}

button {
  background-color: blue;
  color: white;
  border-radius: 5px;
  margin: 2px;
  padding: 4px 2px;
  font-size: 1.3rem;
  width: 100%;
}

button:hover {
    background-color: black;
}

.display-flex {
    display: flex;
}
.display-block {
    display: block;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.border-none {
    border: none;
}

.width-100-percent {
    width: 100%;
}

.groups-container {
    width: 10%;
}

#iframe {
    width: 99vw;
    height: 99vh;
}

#channels-buttons-container {
    top: 0%;
    left: 10%;
    width: 16%;
    display: none;
}
